[submodule "wrapyfi_extensions/wrapyfi_ros_interfaces"]
	path = wrapyfi_extensions/wrapyfi_ros_interfaces
	url = https://github.com/modular-ml/wrapyfi_ros_interfaces
[submodule "wrapyfi_extensions/wrapyfi_ros2_interfaces"]
	path = wrapyfi_extensions/wrapyfi_ros2_interfaces
	url = https://github.com/modular-ml/wrapyfi_ros2_interfaces
